<footer class="py-5 footer border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <p class="h5 mb-3">{{ site.title | escape }}</p>
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li>
            <a href="mailto:{{ site.email }}">
              {{ site.email }}
            </a>
          </li>
          {%- endif -%}
          <li>
            Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS <i class="fas fa-rss-square"></i></a>
          </li>
        </ul>
      </div>


      <div class="col-sm text-sm-right">
        <p>
          <a href="https://simpleanalytics.com/?utm_source=cristianalfano.me&utm_content=badge" referrerpolicy="origin"
            target="_blank">
            <img src="{{ "/assets/img/simpleanalyticsbadge.svg" | relative_url }}" loading="lazy"
              referrerpolicy="no-referrer" crossorigin="anonymous" alt="Badge for SimpleAnalytics" />
          </a>
        </p>
        <p>{{- site.description | escape -}}</p>

        <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/">Powered by Bootstrap 4 Github Pages</a>
        </p>
        <p>
          <a href="https://github.com/nicolas-van/bootstrap-4-github-pages"><img alt="GitHub Repo stars"
              src="https://img.shields.io/github/stars/nicolas-van/bootstrap-4-github-pages?style=social"></a>
        <p>
      </div>

    </div>

  </div>
</footer>
<script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/main.js" | relative_url }}"></script>