<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}

  <meta name="google-site-verification" content="z4W8ApQQ9-U221_yuOKSeRhUpb9jSQ-lr0WnWi0kd9I" />
  <meta itemprop="image" content="/assets/img/preview.svg">
  <meta property="og:image" content="https://cristianalfano.me/assets/img/preview.svg">
  <meta name="twitter:image" content="https://cristianalfano.me/assets/img/preview.svg">
  <meta property="og:image:width" content="1129" />
  <meta property="og:image:height" content="593" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link id="dark-theme-style" rel="stylesheet" />
  <link id="dark-css" href="/assets/css/dark.css?v=4" rel="stylesheet" media="(prefers-color-scheme: dark)">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/main.js" | relative_url }}"></script>

</head>