<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand d-none d-lg-block" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <a class="navbar-brand d-print-none d-lg-none" rel="author" href="{{ "/" | relative_url }}">Cristian Alfano</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li class="nav-item">
          <a class="nav-link py-3" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
        {% endfor -%}
        <li class="nav-item">
          <a class="nav-link py-3" href="https://www.linkedin.com/in/cristian-alfano-07614412b/">My LinkedIn Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4 d-none d-lg-flex">
  <div class="col">
{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<a href="/">Home</a>
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
    / {{ page.title }}
  {% endif %}
{% endfor %}
  </div>
</div>