.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

body {
    background-color: #F0F2F5;
}

.footer {
    background-color: white;
}

:focus-visible, :focus {
    outline-offset: 2px;
    outline: 0.2em solid;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: white;
}

.fa-rss-square {
    color: $orange;
}