/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/source-sans-pro-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/source-sans-pro-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }

@media print {
    header,
    footer {
        display: none;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

body {
    background-color: #f0f2f5;
    padding-top: 4.5rem;
}

.footer {
    background-color: white;
}

:focus-visible,
:focus {
    outline-offset: 2px;
    outline: 0.2em solid;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: white;
}

.fa-rss-square {
    color: $orange;
}

.nav-theme-icon:before {
    font-size: 0.875em;
    content: "\f186";
    color: white;
}
