---
layout: default
---
<div class="container">
  <div class="row my-4">
    <div class="col">
      <section>
        <article>
          <header>
            <h1>{{ page.title }}</h1>
            <h2 class="h4">
              <time datetime="{{ page.date | date_to_xmlschema }}">
                {%- assign date_format = "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
              </time>
              {%- if page.author -%}
              • {{ page.author }}
              {%- endif -%}
            </h2>
          </header>
          <p>
          <section>
            {{ content }}
          </section>
          </p>
        </article>
      </section>
    </div>
  </div>
</div>